<!-- Menu -->
<nav id="menu">
	<div class="inner">
		<h2>Menu</h2>
		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="research.html">Research</a></li>
			<li><a href="software.html">Software</a></li>
			<li><a href="publications.html">Publications</a></li>
			<li><a href="opportunities.html">Opportunities</a></li>
			<li><a href="contacts.html">Contacts</a></li>
		</ul>
		<a href="#" class="close">Close</a>
	</div>
</nav>
